body {
    background: rgba(255, 255, 255, 0.9);
    margin: 0;
    color: #235bf5e3;
    font-family: 'Times New Roman', Times, serif;
}

.cabecera::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(../img/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

.cabecera:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.cabecera:hover .cabecera-content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.cabecera-content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    text-align: center;
    width: 300px;
    height: 350px;
    transition: 1000ms;
    color: white;
}

.cabecera-content .logoM {
    height: 100px;
    width: 100px;
    fill: white;
}

.s_logos {
    height: 100px;
    width: 100px;
    fill: red;
}
